.calRadioButton {
    display: flex;
    align-items: center;
}
.calRadioButton input[type='radio']{
    position:absolute;
    opacity:0
}
.calRadioButton input[type='radio']+label{
    position:relative;
    padding:0;
    cursor:pointer
}
.calRadioButton input[type='radio']+label:before{
    display:inline-block;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width:18px;
    height:18px;
    margin-right:8px;
    content:'';
    vertical-align:text-top;
    border:1px solid #BDBDBD;
    border-radius:1000px;
    background:#eee
}
.calRadioButton__checked input[type='radio']+label:after{
    position:absolute;
    top:6px;
    left:4px;
    width:10px;
    height:10px;
    content:'';
    border-radius:1000px;
    background:#005691
}
.calRadioButton.calRadioButton--disabled{
    opacity:0.4
}
.calRadioButton.calRadioButton--disabled input[type='radio']+label{
    cursor:default
}