@import 'config.css';

.card {
  position: relative;

  display: block;
  padding: var(--distance-small);
  margin-bottom: var(--distance-normal);

  border: 1px solid var(--color-dark-gray);
  border-radius: var(--border-radius-squircle);

  color: var(--color-dark-gray);

  &:last-of-type {
    margin-bottom: 0;
  }
}

.cardClickable:hover {
  cursor: pointer;
  background: var(--background-color-hover);
}

.cardSelected {
  background-color: var(--color-accent);
  color: var(--color-white);
}

.cardSelected:hover {
  background: var(--background-color-accent-hover);
}

.heading {
  font-weight: var(--font-weight-semi-bold);
  margin-bottom: var(--distance-small);
  text-transform: uppercase;
}

.subheading {
  margin-top: calc(-1 * var(--distance-tiny));
  margin-bottom: var(--distance-small);
  font-size: var(--font-size-small);
  text-transform: uppercase;
  font-weight: var(--font-weight-light);
}

.date {
  font-size: var(--font-size-small);
}

.sideButtons {
  position: absolute;
  top: 0;
  bottom: 0;
  right: var(--distance-small);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sideButtons * {
  color: var(--color-white);
}
